<h2>BookRequests</h2>
<br>
<button routerLink="new" type="button" class="btn btn-primary">Create a new BookRequest</button><br>
<br>
<table class="table table-hover">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">ISBN</th>
    <th scope="col">User</th>
    <th scope="col">State</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let bookRequest of bookRequests" routerLink="/bookrequests/{{bookRequest.id}}">
    <td>{{bookRequest.id}}</td>
    <td>{{bookRequest.isbn}}</td>
    <td>{{bookRequest.user}}</td>
    <td>{{bookRequestStateStrings.get(bookRequest.state)}}</td>
  </tr>
  </tbody>
</table>
