<nav class="navbar navbar-expand-lg navbar-default bg-light navbar-light justify-content-between">
	<a class="navbar-brand">BibWeb</a>
	<div class="collapse navbar-collapse" *ngIf="isLoggedIn()">
		<ul class="navbar-nav">
			<li class="nav-item"><a class="nav-item nav-link" routerLinkActive="active" routerLink="/books">Books</a></li>
			<li class="nav-item"><a class="nav-item nav-link" routerLinkActive="active" routerLink="/bookrequests">Book Requests</a></li>
		</ul>
	</div>

	<form class="form-inline">
    <span *ngIf="loggedIn" id="username">{{loggedInUserName}}</span>
		<span *ngIf="!loggedIn"><button (click)="login()" class="btn btn-outline-success my-2 my-sm-0">Login</button></span>
		<span *ngIf="loggedIn"><button (click)="logout()" class="btn btn-outline-warning my-2 my-sm-0">Logout</button></span>
	</form>
</nav>
