<table class="table table-hover">
  <thead>
  <tr>
    <th style="width: 10%">Book Id</th>
    <th style="width: 40%">Book Title</th>
    <th style="width: 20%">Checkout Date</th>
    <th style="width: 20%">Due Date</th>
  </tr>
  </thead>
  <tbody>
  <tr (click)="clickCheckout(checkout.id)" [ngClass]="{'table-info': selectedCheckoutId.includes(checkout.id)}" *ngFor="let checkout of checkouts">
    <td>{{checkout.bookId}}</td>
    <td>{{checkout.bookTitle}}</td>
    <td>{{checkout.checkoutDate | date}}</td>
    <td>{{checkout.dueDate | date}}</td>
  </tr>
  </tbody>
</table>
