<div class="container">
  <h2>Create a book request</h2>
</div>
<div>
  <form (ngSubmit)="createBookRequest();" #bookRequestForm="ngForm">
    <div class="form-group">
      <label for="isbn">ISBN</label>
      <input type="text" class="form-control" id="isbn" required [(ngModel)]="model.isbn" name="isbn">
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="!bookRequestForm.form.valid">Submit</button>
  </form>
  <button class="btn" (click)="goBack();">Go back</button>
</div>
