<h2>Available books</h2>

<br/>

<div>
  <button class="btn"
          [ngClass]="{'btn-secondary': getFilters().includes(bookAvailabilityState.AVAILABLE),
                    'btn-outline-secondary': !getFilters().includes(bookAvailabilityState.AVAILABLE)}"
          (click)="toggleShowAvailableBooks()">Show available books
  </button>&nbsp;
  <button class="btn"
          [ngClass]="{'btn-primary': getFilters().includes(bookAvailabilityState.CHECKEDOUT_BY_YOU),
                    'btn-outline-primary': !getFilters().includes(bookAvailabilityState.CHECKEDOUT_BY_YOU)}"
          (click)="toggleShowReservedBooks()">Show your checked out books
  </button>&nbsp;
  <button class="btn"
          [ngClass]="{'btn-warning': getFilters().includes(bookAvailabilityState.UNAVAILABLE),
                    'btn-outline-warning': !getFilters().includes(bookAvailabilityState.UNAVAILABLE)}"
          (click)="toggleShowUnavailableBooks()">Show unavailable books
  </button>
  |
  <button class="btn" (click)="toggleAll()">Toggle all</button>
</div>

<br/>

<div *ngIf="books">
  <app-books-searchable-list [books]="books | bookListAvailabilityFilter : getFilters()"></app-books-searchable-list>
</div>
