<div class="container">
  <h2>BookRequests</h2>
</div>

<br/>

<button routerLink="new" class="btn btn-primary">Create new book request</button><br/>

<br/>

<table class="table table-hover">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">ISBN</th>
    <th scope="col">User</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let bookRequest of bookRequests" routerLink="/bookrequests/{{bookRequest.id}}">
    <td>{{bookRequest.id}}</td>
    <td>{{bookRequest.isbn}}</td>
    <td>{{bookRequest.user}}</td>
  </tr>
  </tbody>
</table>
