<h2>Dashboard</h2>

<div class="container">
  <div class="card">
    <div class="card-header">Checkouts</div>
    <div class="card-body">
      <app-create-checkout (create)="createNewCheckout($event)"></app-create-checkout>
      <br/>
      <app-checkouts-list [checkouts]="checkouts" (changeSelected)="changeSelectedCheckout($event)"></app-checkouts-list>
      <app-checkout-actions [selectedCheckouts]="selectedCheckouts"></app-checkout-actions>
    </div>
  </div>
</div>

<br/>

<app-reservations-list [user]="getUserId()"></app-reservations-list>

<br/>
<p>Showing data of user {{getUserId()}}</p>



