<table class="table table-hover">
  <thead>
  <tr>
    <th style="width: 10%">#</th>
    <th style="width: 40%">Title</th>
    <th style="width: 23%">Release Year</th>
    <th style="width: 23%">Number of pages</th>
    <th style="width: 4%"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let book of books" (click)="selectBook(book)">
    <td [ngClass]="{'table-warning': book.availability === bookAvailabilityState.UNAVAILABLE,
                    'table-primary': book.availability === bookAvailabilityState.RESERVED_BY_YOU}">
      {{book.id}}
    </td>
    <td>{{book.title}}</td>
    <td>{{book.releaseYear}}</td>
    <td>{{book.numberOfPages}}</td>
    <td>
      <app-book-actions [book]="book" (update)="updateBook($event)"></app-book-actions>
    </td>
  </tr>
  </tbody>
</table>
